<%- include("partials/header")%>
<main>
  
        <section class=" row col-md-12 text-center " >
        <a href="./accountPage" class="row-md">
            <img src="./../assets/images/user.jpg" alt="profiel foto" class="img-fluid img-thumbnail rounded " width="200px" >
        </a>
        </section>
        <section class="col-6 col-md-12">
            <h2 class="brown ">Gem</h2>
            <ul class="list-group  ">
                <li class="list-group-item  bg-transparent border-0">SD - 16</li>
                <li class="list-group-item  bg-transparent border-0">10R - 6.2</li>
                <li class="list-group-item  bg-transparent border-0">Quotes/Karakter - 2</li>
            </ul>
        </section>
        <section id="top3SD" class="col-6 col-md-12 ">
            
            <h2 class="fs-3 brown ">Top 3 SD</h2>
            <ol class="list-group list-group-numbered ">
                <li class="list-group-item  bg-transparent border-0">25</li>
                <li class="list-group-item  bg-transparent border-0">24</li>
                <li class="list-group-item  bg-transparent border-0">18</li>
            </ol>
        </section>
        <section id="top310R" class="brown col-6 col-md-12">
            
            <h2 class="fs-3 brown p-2">Top3 10R</h2>
            <ol class="list-group list-group-numbered " style="--bs-opacity: -10;">
                <li class="list-group-item bg-transparent border-0">10</li>
                <li class="list-group-item bg-transparent border-0">9</li>
                <li class="list-group-item bg-transparent border-0" >3</li>
            </ol>
        </section>      
        <section id="topFavourite" class="brown col-6 col-md-12">
            
            <h2 class="fs-3 brown p-2">Karakter Quotes</h2>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item bg-transparent border-0">Frodo(7)</li>
                <li class="list-group-item bg-transparent border-0">Gandalf(6)</li>
                <li class="list-group-item bg-transparent border-0">Sam(5)</li>
            </ol>
        </section>
    



</main>
