<%- include("partials/header")%>


<main class="col-12 col-md-9 bg-opacity-25 mx-2">
    <img class="col-8 justify-self-center" src="public/assets/images/precious.png" alt="precies_img" width="100px">
      <section class="row justify-content-around">
        <h1 class="text-center resetfont col-10 col-sm-4">Favorieten</h1>
        <form class="col-12 col-sm-6 mt-1 mb-3 justify-content-center row " action="#">
          
          <button class="col-8 col-sm-3 btn background mb-3 resetfont" id="favorietBtn">
            <img src="public/assets/images/opslagen-icon.png" alt="Favoriet" class="button-image-download">
            <span class="button-text">Download</span>
        </button>
        </form>
      </section>
      <table class="table table-warning resetfont ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Karakter</th>
            <th scope="col">Quote</th>
            <th scope="col">Film</th>
            <th scope="col"># quotes karakter</th>
            <th scope="col">Verwijderen</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="https://lotr.fandom.com/wiki/Gandalf" target="_blank">Gandalf</a></td>
            <td>"You shall not pass"</td>
            <td>The fellowship of the ring</td>
            <td>8</td>
            <td><img src="public/assets/images/skull-icon.png" alt="Skull" class="skull-image"></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a href="https://lotr.fandom.com/wiki/Gandalf" target="_blank">Gandalf</a></td>
            <td>"You shall not pass"</td>
            <td>The fellowship of the ring</td>
            <td>8</td>
            <td><img src="public/assets/images/skull-icon.png" alt="Skull" class="skull-image"></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><a href="https://lotr.fandom.com/wiki/Gandalf" target="_blank">Gandalf</a></td>
            <td>"You shall not pass"</td>
            <td>The fellowship of the ring</td>
            <td>8</td>
            <td><img src="public/assets/images/skull-icon.png" alt="Skull" class="skull-image"></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><a href="https://lotr.fandom.com/wiki/Gandalf" target="_blank">Gandalf</a></td>
            <td>"You shall not pass"</td>
            <td>The fellowship of the ring</td>
            <td>8</td>
            <td><img src="public/assets/images/skull-icon.png" alt="Skull" class="skull-image"></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><a href="https://lotr.fandom.com/wiki/Gandalf" target="_blank">Gandalf</a></td>
            <td>"You shall not pass"</td>
            <td>The fellowship of the ring</td>
            <td>8</td>
            <td><img src="public/assets/images/skull-icon.png" alt="Skull" class="skull-image"></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td><a href="https://lotr.fandom.com/wiki/Gandalf" target="_blank">Gandalf</a></td>
            <td>"You shall not pass"</td>
            <td>The fellowship of the ring</td>
            <td>8</td>
            <td><img src="public/assets/images/skull-icon.png" alt="Skull" class="skull-image"></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td><a href="https://lotr.fandom.com/wiki/Gandalf" target="_blank">Gandalf</a></td>
            <td>"You shall not pass"</td>
            <td>The fellowship of the ring</td>
            <td>8</td>
            <td><img src="public/assets/images/skull-icon.png" alt="Skull" class="skull-image"></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td><a href="https://lotr.fandom.com/wiki/Gandalf" target="_blank">Gandalf</a></td>
            <td>"You shall not pass"</td>
            <td>The fellowship of the ring</td>
            <td>8</td>
            <td><img src="public/assets/images/skull-icon.png" alt="Skull" class="skull-image"></td>
          </tr>
        </tbody>
      </table>
      </main>

