<%- include("partials/headerIntro")%>


<main id="intro-main">
    <section id="section-intro">
    <img class="sword-img" src="./../assets/images/sword-icon.png" alt="original_image">
    <h1>Zet je klaar en bereid je voor op de battle der eeuwen!</h1>
    <h2>Druk op de ring om te starten</h2>
    <img class="sword-img" src="./../assets/images/sword-icon.png" alt="original_image">
</section>
<section id="intro-ring">
    <a href="/quizPage"><img id="ring-img" src="./../assets/images/ring212.png" alt="logo, lord of the quotes" class="img-fluid"></a>
</section>
</main>

<%- include("partials/footer")%>

