<%- include("partials/headerLogin")%>

<main class=" col-12  col-lg-6  align-items-center mx-auto" >
    <form class=" backgroundbrown rounded g-4" action="#" method="POST"  >
    <div>
        <label class="form-label" for="username">Gebruikersnaam:</label>
        <input class="form-control mb-3" type="text" placeholder="Gebruikersnaam" name="username" required>
    </div>
    <div>
        <label class="form-label" for="password">Wachtwoord:</label>
        <input class="form-control mb-3" type="password" placeholder="Wachtwoord" name="password" required>
    </div>
    <div>
        <a href="/introPage"><button class="btn btn-warning mb-3 resetfont" type="button" href="quiz.html">Login</button></a>
    </div>
    </form>
</main>
