<%- include("partials/headerLogin")%>
<main class="col-12  col-lg-6  align-items-center mx-auto">
<div class="backgroundbrown rounded g-4">
    <h2 class="fw-bolder brown mt-3">Registreren</h2>
    <form id="register-form" action="/register" method="POST">
        <div>
            <label class="form-label" for="email">e-mail</label>
            <input class="form-control mb-3" type="email" id="email" name="email" required>
        </div>
        <div>
            <label class="form-label" for="name">naam</label>
            <input class="form-control mb-3" type="name" id="name" name="name" required>
        </div>
        <div>
            <label class="form-label" for="password">wachtwoord</label>
            <input class="form-control mb-3"  type="password" id="password" name="password" required>
        </div>
        <div>
        <button class="mx-auto btn background brown mb-3 resetfont" type="submit">account aanmaken</button>
        </div>
    </form>
</div>
</main>
