<%let times=0;%>
<% for(let i=0;i<favList.length;i++){%>
<tr>
    <th scope="row"><%i+1%></th>
    <% for(let j=0;j<charList.length;i++)
    { if(favList[i].character === charList[j]._id) 
        {%>
    <td><a href="<%=charList[j].wikiUrl%>"target="_blank"> <%=charList[j].name%></a></td>
    <td><%=favList[i].dialog%></td> 
    <td><%for(let k=0;k<favList.length;k++){ if(charList[j]._id === favList[k].character) { times++;} %>times</td>
    <%}%>
    <td><img src="public/assets/images/skull-icon.png" alt="Skull" class="skull-image"></td>
</tr>
<%}%>