<% include("partials/header")%>
<% include("partials/aside")%>

<main class="col-12 col-md-9 bg-opacity-25 mx-2">
    <section class="quote">
        <section class="row">
            <h1>Ready for battle! - 10 rounds</h1>
            <h2 class="col-4"> Quote : <%=listQuiz[0][3]%> </h2>
            
        </section>
        <p class="resetfont fs-3"></p>
    </section>
    <section class="container gy-5 row col-md-6">    
        <% for(let i=0;i<2;i++) { 
            for(let j=0;j<3;j++) {%>
        <button  type="button" class="btn <% if(listShuffled[i][j]==listQuiz[i][2]) {%> correct btn-outline-succes <%}%> <% if(i==0) {%> col-md-4 <%}%> <% if(i==1) {%> col-md-6 <%}%>">
            <%=listShuffled[i][j]%>
        </button>
        <%}}%>
    </section>
    
    <form action="#"><a href="scoresuddendeath.html"><button class="btn btn-warning mb-3 resetfont" type="button">Volgende</button></a></form>
   
</section>

</main>

<% include("partials/footer")%>